---
import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div
  class="overflow-x-auto xl:gap-8 gap-4 lg:flex-row flex-col rounded-lg flex justify-center items-center mx-auto w-full max-w-screen-xl p-4 px-6 py-6 lg:py-8"
>
  <table class="divide-y-2 w-full flex-1 text-white text-sm rounded-t-2xl">
    <thead class="">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 text-lg text-left"
          >{i18n.Agenda_Time}</th
        >
        <th class="whitespace-nowrap px-4 py-2 text-lg text-left"
          >{i18n["Agenda_124"]}</th
        >
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">10h00 - 11h15</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"> </td>
      </tr>

      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">11h15 - 12h30</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Esther y Pere</td>
      </tr>

      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">12h30 - 13h45</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Alicia López Jiménez</td
        >
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">13h45 - 15h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Pablo Tirado</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">15h00 - 16h15</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"></td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">16h15 - 17h30</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Montse Sorli</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">17h30 - 18h45</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Amada Selina</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">18h45 - 20h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Amada Selina</td>
      </tr>
    </tbody>
  </table>
  <table class="divide-y-2 w-full flex-1 text-white text-sm rounded-t-2xl">
    <thead class="">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 text-lg text-left"
          >{i18n.Agenda_Time}</th
        >
        <th class="whitespace-nowrap px-4 py-2 text-lg text-left"
          >{i18n["Agenda_134"]}</th
        >
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">10h00-11h15</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Cloti González</td>
      </tr>

      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">11h15 - 12h30</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Jorge Muñoz</td>
      </tr>

      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">12h30 - 13h45</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"
          >Iluminadores del Alma</td
        >
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">13h45 - 15h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Montse Sorli</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">15h00 - 16h15</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"></td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">16h15 - 17h30</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Alicia López Jiménez</td
        >
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">17h30 - 18h45</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Núria y Pere</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">18h45 - 20h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Mar Palao</td>
      </tr>
    </tbody>
  </table>
  <table class="divide-y-2 w-full flex-1 text-white text-sm rounded-t-2xl">
    <thead class="">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 text-lg text-left"
          >{i18n.Agenda_Time}</th
        >
        <th class="whitespace-nowrap px-4 py-2 text-lg text-left"
          >{i18n["Agenda_144"]}</th
        >
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">10h00-11h15</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"></td>
      </tr>

      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">11h15 - 12h30</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Susana</td>
      </tr>

      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">12h30 - 13h45</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">David Dream Mentor</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">13h45 - 15h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Irene López</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">15h00 - 16h15</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"> </td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">16h15 - 17h30</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Iris Carbonell</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">17h30 - 18h45</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Vulcano</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">18h45 - 20h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Roberto</td>
      </tr>
    </tbody>
  </table>
</div>
