<div
  class="overflow-x-auto xl:gap-8 gap-4 lg:flex-row flex-col rounded-lg flex justify-center items-center mx-auto w-full max-w-screen-xl p-4 px-6 py-6 lg:py-8"
>
  <table
    class="divide-y-2 w-full flex-1 divide-gray-200 border-white border text-white text-sm rounded-t-2xl"
  >
    <thead class="">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 text-lg">SLOT</th>
        <th class="whitespace-nowrap px-4 py-2 text-lg">APRIL THE 12TH</th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">10h-11h30</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Miguel Celades</td>
      </tr>

      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 2</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 2</td>
      </tr>

      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 3</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 3</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 4</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 4</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 5</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 5</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 6</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 6</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 7</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 7</td>
      </tr>
    </tbody>
  </table>
  <table
    class="divide-y-2 w-full flex-1 divide-gray-200 border-white border text-white text-sm rounded-t-2xl"
  >
    <thead class="">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 text-lg">SLOT</th>
        <th class="whitespace-nowrap px-4 py-2 text-lg">APRIL THE 12TH</th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">10h-11h30</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Miguel Celades</td>
      </tr>

      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 2</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 2</td>
      </tr>

      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 3</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 3</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 4</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 4</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 5</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 5</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 6</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 6</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 7</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 7</td>
      </tr>
    </tbody>
  </table>
  <table
    class="divide-y-2 w-full flex-1 divide-gray-200 border-white border text-white text-sm rounded-t-2xl"
  >
    <thead class="">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 text-lg">SLOT</th>
        <th class="whitespace-nowrap px-4 py-2 text-lg">APRIL THE 12TH</th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">10h-11h30</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Miguel Celades</td>
      </tr>

      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 2</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 2</td>
      </tr>

      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 3</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 3</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 4</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 4</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 5</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 5</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 6</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 6</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">SLOT 7</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Speaker 7</td>
      </tr>
    </tbody>
  </table>
</div>
