---
import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div
  class="overflow-x-auto xl:gap-8 gap-4 lg:flex-row flex-col rounded-lg flex justify-center items-center mx-auto w-full max-w-screen-xl p-4 px-6 py-6 lg:py-8"
>
  <table class="divide-y-2 w-full flex-1 text-white text-sm rounded-t-2xl">
    <thead class="">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 text-lg text-left"
          >{i18n.Agenda_Time}</th
        >
        <th class="whitespace-nowrap px-4 py-2 text-lg text-left"
          >{i18n["Agenda_124"]}</th
        >
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">10h00 - 11h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"></td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">11h00 - 12h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Cristina Sierra</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">12h00 - 13h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Cristina Sierra</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">13h00 - 14h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"></td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">14h00 - 15h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"></td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">15h00 - 16h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"></td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">16h00 - 17h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"></td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">17h00 - 18h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Enric Benito</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">18h00 - 19h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Enric Benito</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">19h00 - 20h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Enric Benito</td>
      </tr>
    </tbody>
  </table>
  <table class="divide-y-2 w-full flex-1 text-white text-sm rounded-t-2xl">
    <thead class="">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 text-lg text-left"
          >{i18n.Agenda_Time}</th
        >
        <th class="whitespace-nowrap px-4 py-2 text-lg text-left"
          >{i18n["Agenda_134"]}</th
        >
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">10h00 - 11h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Cosmic Irene</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">11h00 - 12h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Cosmic Irene</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">12h00 - 13h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Cosmic Irene</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">13h00 - 14h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Cosmic Irene</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">14h00 - 15h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"
          >Iluminadores del Alma</td
        >
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">15h00 - 16h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Cloti Gonz치lez</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">16h00 - 17h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Cloti Gonz치lez</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">17h00 - 18h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Cloti Gonz치lez</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">18h00 - 19h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Cloti Gonz치lez</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">19h00 - 20h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"
          >Instituto Sonoterapia</td
        >
      </tr>
    </tbody>
  </table>
  <table class="divide-y-2 w-full flex-1 text-white text-sm rounded-t-2xl">
    <thead class="">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 text-lg text-left"
          >{i18n.Agenda_Time}</th
        >
        <th class="whitespace-nowrap px-4 py-2 text-lg text-left"
          >{i18n["Agenda_144"]}</th
        >
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">10h00 - 11h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"></td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">11h00 - 12h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Montse Sorli</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">12h00 - 13h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Montse Sorli</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">13h00 - 14h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Montse Sorli</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">14h00 - 15h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"></td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">15h00 - 16h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Iris Carbonell</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">16h00 - 17h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Iris Carbonell</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">17h00 - 18h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg">Iris Carbonell</td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">18h00 - 19h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"></td>
      </tr>
      <tr>
        <td class="whitespace-nowrap px-4 py-2 text-lg">19h00 - 20h00</td>
        <td class="whitespace-nowrap px-4 py-2 text-lg"></td>
      </tr>
    </tbody>
  </table>
</div>
