---
import SpeakerCard from "./SpeakerCard.astro";
import { getI18N } from "@/i18n";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../../i18n/utils";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const { spaceTime, free = false } = Astro.props;
---

<div class="flex flex-col items-center w-fit">
  <a
    href="/"
    class="text-center bg-[#222B5B] px-6 py-3 rounded-md font-base font-semibold mb-6 text-white"
    >{spaceTime}</a
  >
  <div class="flex flex-col md:flex-row items-center gap-4">
    <div class="flex flex-wrap">
      <div class="flex w-full flex-wrap">
        <SpeakerCard
          imageSrc="/speakers/potrait-1.jpg"
          speakerName="Andrew"
          customClass="w-5/12"
        />
        <SpeakerCard
          imageSrc="/speakers/potrait-2.jpg"
          speakerName="Andrew"
          customClass="w-7/12"
        />
      </div>
      <div class="flex w-full flex-wrap">
         <SpeakerCard
          imageSrc="/speakers/potrait-3.jpg"
          speakerName="Andrew"
         customClass="w-7/12"
        />
          <SpeakerCard
          imageSrc="/speakers/potrait-4.jpg"
          speakerName="Andrew"
         customClass="w-5/12"
        />

      </div>
      <div class="flex w-full  flex-wrap">
      
        <SpeakerCard
          imageSrc="/speakers/potrait-5.jpg"
          speakerName="Andrew"
          customClass="w-full "
           customClass="w-5/12"
        />

        <SpeakerCard
          imageSrc="/speakers/potrait-6.jpg"
          speakerName="Andrew"
          customClass="w-full"
            customClass="w-7/12"
=        />
      </div>
    </div>
    {
      free ? (
        ""
      ) : (
        <div>
          <a
            href={translatePath("/entradas/")}
            class="bg-red-600 text-white px-6 py-3 rounded-md w-fit"
          >
            Tickets
          </a>
        </div>
      )
    }
  </div>
</div>
