---
import SpeakersGrid from "./SpeakersGrid.astro";
---

<section>
  <nav class="speakertabs flex flex-col md:flex-row mt-12">
    <button
      data-target="panel-red"
      class="speakertab active flex-1 py-4 text-xl font-bold px-6 block rounded-t-2xl shadow-[3px_-6px_5px_#1a1a1a33] text-white focus:outline-none"
    >
      Red Hall
    </button>
    <button
      data-target="panel-green"
      class="speakertab py-4 px-6 flex-1 block text-xl font-bold rounded-t-2xl text-white shadow-[3px_-6px_5px_#1a1a1a33] focus:outline-none"
    >
      Green Hall
    </button>
    <button
      data-target="panel-workshops"
      class="speakertab py-4 px-6 flex-1 block text-xl font-bold rounded-t-2xl text-white shadow-[3px_-6px_5px_#1a1a1a33] focus:outline-none"
    >
      Workshops
    </button>
  </nav>
  <div class="speaker-panels">
    <div class="panel-red Speakers-content py-5 active space-y-6">
      <SpeakersGrid spaceTime="Red Hall Friday" />
      <SpeakersGrid spaceTime="Red Hall Saturday" />
      <SpeakersGrid spaceTime="Red Hall Sunday" />
    </div>
    <div class="panel-green Speakers-content py-5 space-y-6">
      <SpeakersGrid spaceTime="Green Hall Friday" free={true} />
      <SpeakersGrid spaceTime="Green Hall Saturday" free={true} />
      <SpeakersGrid spaceTime="Green Hall Sunday" free={true} />
    </div>
    <div class="panel-workshops Speakers-content py-5 space-y-6">
      <SpeakersGrid spaceTime="Workshops Friday" />
      <SpeakersGrid spaceTime="Workshops Saturday" />
      <SpeakersGrid spaceTime="Workshops Sunday" />
    </div>
  </div>
</section>

<script>
  const speakertab = document.querySelectorAll(".speakertab");
  const speakerpanel = document.querySelectorAll(".Speakers-content");

  function onTabClick(event: any) {
    // deactivate existing active tabs and panel
    for (let i = 0; i < speakertab.length; i++) {
      speakertab[i].classList.remove("active");
    }

    for (let i = 0; i < speakerpanel.length; i++) {
      speakerpanel[i].classList.remove("active");
    }
    // activate new tabs and panel
    event.target.classList.add("active");
    let classString = event.target.getAttribute("data-target");
    if (classString) {
      document
        .querySelector(`.${classString}`) // Use querySelector with class
        ?.classList.add("active");
    }
  }

  for (let i = 0; i < speakertab.length; i++) {
    speakertab[i].addEventListener("click", onTabClick, false);
  }
</script>
<style>
  .Speakers-content {
    display: none;
  }

  .Speakers-content.active {
    display: block;
  }

  .speakertab.active {
    background: #222b5b;
  }
  .speakertab.active:hover {
    background: #1b2663;
  }
</style>
