---
import BentoItem from "@/components/BentoItem.astro";
import { getI18N } from "@/i18n/";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section
  class={`
    w-full max-w-[1400px]
    grid lg:grid-cols-12 auto-rows-[30rem] gap-2
    mx-auto p-6 md:p-12 lg:p-20
  `}
>
  <!-- <div
    class="col-span-14 lg:col-span-4 bg-blue-300 p-6 rounded-lg flex items-center justify-center py-2"
    style="height: 30rem;"
  >
    <h2 class="text-lg text-white font-semibold">{i18n.Agenda_VIP14}</h2>
  </div> -->
  <!-- Button -->
  <!-- <button
    class="col-span-14 lg:col-span-2 text-white bg-red-500 hover:bg-blue-700 font-bold py-2 px-4 rounded py-2"
    style="height: 30rem;"
  >
    {i18n.Tickets_TITLE}
  </button> -->

  <BentoItem
    class="col-span-12 lg:col-span-4 height: 40rem"
    title={i18n.Agenda_PURPLE14}
    subtitle="Talleres Gratuitos y de Pago"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full bg-blue-950
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      data-src="/blue.webp"
    >
    </div>
    <p slot="content" class="max-w-xl text-base md:text-lg" set:html="" />
  </BentoItem>

  <BentoItem
    class="col-span-12 lg:col-span-4 height: 40rem"
    title="Montse Sorli"
    subtitle="TALLER: APERTURA DEL SEGUNDO CORAZÓN (95€)"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full bg-blue-950
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      data-src="/speakers/Montse.webp"
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
      set:html="Domingo 14 Sala LILA 11h00"
    />
  </BentoItem>

  <BentoItem
    class="col-span-12 lg:col-span-4 height-40rem"
    title="Iris Carbonell (Mujer ArcoIris)"
    subtitle="TALLER: CHAMANISMO ANDINO SANACIÓN DE VIDAS PASADAS CON LOS GUARDIANES DE LA TIERRA Y LAS ESTRELLAS (250€)"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-blue-800
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      data-src="/speakers/Iris.webp"
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
      set:html="Domingo 14 Sala LILA 15h00"
    />
  </BentoItem>
</section>

<script>
  document.addEventListener("astro:page-load", () => {
    const backgrounds = document.querySelectorAll(
      ".background",
    ) as NodeListOf<HTMLElement>;

    if (window.IntersectionObserver == null) {
      backgrounds.forEach((bkg) => {
        bkg.style.backgroundImage = "url('" + bkg.dataset.src + "')";
      });
      return;
    }

    function handleIntersection(entries: IntersectionObserverEntry[]) {
      entries.map((entry) => {
        if (entry.isIntersecting) {
          const target = entry.target as HTMLElement;
          const { style, dataset } = target;
          // Item has crossed our observation
          // threshold - load src from data-src
          style.backgroundImage = "url('" + dataset.src + "')";
          // Job done for this item - no need to watch it!
          observer.unobserve(entry.target);
        }
      });
    }

    const observer = new IntersectionObserver(handleIntersection, {
      rootMargin: "100px",
    });

    backgrounds.forEach((bkg) => observer.observe(bkg));
  });
</script>
