<!-- ENTRADAS (MEJOR PONER TICKETS O BOLETOS ENTRADAS SUENA A BLOG!!! IMPORTANT!") -->
    <title>Entradas Evento Mystic Abril 2024 | Boletos Evento | Kido Bébé</title>
    <meta name="description" content="Asegura tu lugar en Mystic Abril 2024 con entradas VIP y para talleres. Descubre una experiencia inolvidable. Contacta para más detalles.">
    <meta name="keywords" content="Entradas Mystic 2024, Boletos Evento, Admisión Talleres, Evento Barcelona">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.mystic-bcn.com/entradas/">
    <meta property="og:title" content="Mystic Abril 2024: Un encuentro único">
    <meta property="og:description" content="Participa en talleres exclusivos y asegura tu acceso VIP. Vive la magia de Mystic. ¡Entradas ya disponibles!">
    <meta property="og:image" content="https://www.mystic-bcn.com/auditorio-lleno-right.webp">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://www.mystic-bcn.com/entradas/">
    <meta name="twitter:title" content="Mystic 2024: Aventura Espiritual">
    <meta name="twitter:description" content="Descubre el poder de los talleres Mystic con entradas VIP. Una experiencia transformadora te espera en abril.">
    <meta name="twitter:image" content="https://www.mystic-bcn.com/auditorio-lleno-right.webp">

{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "Mystic International - Sala VIP",
  "startDate": "2024-04-12",
  "endDate": "2024-04-14",
  "location": {
    "@type": "Place",
    "name": "La Farga Centre d'Activitats",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "c. Barcelona, 2",
      "addressLocality": "L'Hospitalet de Llobregat",
      "postalCode": "08901",
      "addressCountry": "ES"
    }
  },
  "description": "Compra tus entradas para la Sala VIP de Mystic International. El acceso a las Salas AZUL y LILA es libre y gratuito, pero tanto las ponencias de la Sala VIP como los Talleres son de pago.",
  "offers": [
    {
      "@type": "Offer",
      "description": "Entrada para el Viernes",
      "price": "95",
      "priceCurrency": "EUR",
      "availability": "http://schema.org/InStock",
      "validFrom": "2024-03-01T00:00:00"
    },
    {
      "@type": "Offer",
      "description": "Entrada para el Sábado",
      "price": "95",
      "priceCurrency": "EUR",
      "availability": "http://schema.org/InStock",
      "validFrom": "2024-03-01T00:00:00"
    },
    {
      "@type": "Offer",
      "description": "Entrada para el Domingo",
      "price": "95",
      "priceCurrency": "EUR",
      "availability": "http://schema.org/InStock",
      "validFrom": "2024-03-01T00:00:00"
    },
    {
      "@type": "Offer",
      "description": "Entrada para los 3 DÍAS",
      "price": "250",
      "priceCurrency": "EUR",
      "availability": "http://schema.org/InStock",
      "validFrom": "2024-03-01T00:00:00"
    }
  ],
  "organizer": {
    "@type": "Organization",
    "name": "DANRIBES, S.L.",
    "email": "mystic33bcn@gmail.com"
  },
  "action": [
    {
      "@type": "BuyAction",
      "name": "Compra con Tarjeta",
      "target": {
        "urlTemplate": "https://www.mystic-bcn.com/compra-entradas"
      }
    },
    {
      "@type": "CommunicateAction",
      "name": "Compra por Transferencia Bancaria",
      "target": {
        "urlTemplate": "mailto:mystic33bcn@gmail.com"
      },
      "recipient": {
        "@type": "Organization",
        "name": "DANRIBES, S.L.",
        "email": "mystic33bcn@gmail.com"
      }
    }
  ],
  "customerSupport": {
    "@type": "ContactPoint",
    "telephone": "+34 640-34-19-84",
    "contactType": "customer support",
    "contactOption": "WhatsApp",
    "areaServed": "ES",
    "availableLanguage": "Spanish"
  }
}